body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #ccc;
    font-family: Arial, "Helvetica Neue", sans-serif;
}

.errorPage {
    top: 100px;
    margin: auto;
}

.bookHeadline {
    font-size: 12pt;
    font-weight: bold;
}

.bookDescription {
    font-size: 10pt;;
}

label {
    font-weight: bold;
    column-width: 60px;
}